@import '../../../styles/colors';
@import '../../../styles/variables';

nav {
  background-color: $lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  
  li {
    list-style-type: none;
    text-align: center;
    margin: 1em;
    
  
      &:hover {
        background-color: $darkgray;
      }

    a {
      @include default-font(15px);
    }
  }
}

#brand {
  margin-left: 1em;
  @include default-font(30px);
}
